# ------------------ DJANGO -------------------

# development | production
DJANGO_ENV=dev

# Generate a long random key for production
DJANGO_SECRET_KEY=your-secret-key

# True for development, False for production
DEBUG=True

# Example:
# ALLOWED_HOSTS=localhost,127.0.0.1,dashboard.syn606.wtf
ALLOWED_HOSTS=*
TIME_ZONE=Asia/Kolkata


# ------------ DISCORD OAUTH -------------------

# Discord Application ID
DISCORD_CLIENT_ID=

# Discord OAuth Secret
DISCORD_CLIENT_SECRET=
BOT_TOKEN=
# OAuth Redirect URI
# Must EXACTLY match the URI configured in Discord
#
# Development:
# http://127.0.0.1:8000/auth/discord/callback/
#
# Production:
# https://bot.digitalvigital.fun/auth/discord/callback/
DISCORD_REDIRECT_URI=

# Your Discord User ID
# Only this account will be allowed to access
# the dashboard.
#
# To get it:
# Discord Settings -> Advanced -> Developer Mode
# Right click your profile -> Copy User ID
DISCORD_OWNER_ID=


# DISCORD BOT


# DATABASE PostgreSQL migration
# postgres / sqlite
DB_MODE=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

